Annisa Chiqa Sabrina_2000015030_Kelas Dasar

Operator 1 : Program Penerapan Operator Aritemtika

In [1]:
print('penjumlahan')
print(2+2)
print('-'*20)

print('pengurangan')
print(2-3)
print('-'*20)

print('perkalian')
print(2*3)
print('-'*20)

print('pembagian')
print(2/3)
print('-'*20)

print('modulus')
print(3%2)
print('-'*20)

print('Perpangkatan')
print(2**3)
print('-'*20)

print('pembagian flooring')
print(3//2)

penjumlahan
4
--------------------
pengurangan
-1
--------------------
perkalian
6
--------------------
pembagian
0.6666666666666666
--------------------
modulus
1
--------------------
Perpangkatan
8
--------------------
pembagian flooring
1

Latihan

In [ ]:
print('Penjumlahan')
print('10+5=',10+5)

print('Pengurangan')
print('10-5=',10-5)

print('Perkalian')
print('10*5=',10*5)

print('Pembagian')
print('10/5=',10/5)

print('Modulus')
print('10%5=',10%5)

print('Perpangkatan')
print('10**5=',10**5)

print('Pembagian Flooring')
print('10//5=',10//5)

Penjumlahan
10+5= 15
Pengurangan
10-5= 5
Perkalian
10*5= 50
Pembagian
10/5= 2.0
Modulus
10%5= 0
Perpangkatan
10**5= 100000
Pembagian Flooring
10//5= 2

Operator 2: Program Penerapan Operator Assigment

In [2]:
#penjumlahan
print('penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#pengurangan
print('pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#perkalian
print('perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#modulus
print('modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian flooring
print('pembagian flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#perpangkatan
print('perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

penjumlahan
10
10
--------------------
pengurangan
0
2
--------------------
perkalian
25
15
--------------------
pembagian
1.0
1.6666666666666667
--------------------
modulus
0
2
--------------------
pembagian flooring
1
1
--------------------
perpangkatan
3125
125
--------------------

Latihan

In [ ]:
print('penjumlahan')
x=10
x=x+10
print('x baru=',x)
x=10
x+=10
print('x baru=',x)

print('pengurangan')
x=10
x=x-10
print('x baru=',x)
x=10
x-=5
print('x baru=',x)

print('perkalian')
x=10
x=x*10
print('x baru=',x)
x=10
x*=5
print('x baru=',x)

print('pembagian')
x=10
x=x/10
print('x baru=',x)
x=10
x/=5
print('x baru=',x)

print('modulus')
x=10
x=x%10
print('x baru=',x)
x=10
x%=5
print('x baru=',x)

print('pembagian flooring')
x=10
x=x//10
print('x baru=',x)
x=10
x//=5
print('x baru=',x)

print('pemangkatan')
x=10
x=x**5
print('x baru=',x)
x=10
x**=5
print('x baru=',x)

penjumlahan
x baru= 20
x baru= 20
pengurangan
x baru= 0
x baru= 5
perkalian
x baru= 100
x baru= 50
pembagian
x baru= 1.0
x baru= 2.0
modulus
x baru= 0
x baru= 0
pembagian flooring
x baru= 1
x baru= 2
pemangkatan
x baru= 100000
x baru= 100000

Operator 3: Program Penerapan Operator Pembanding

In [3]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

Latihan

In [ ]:
print(5==10)
print(5!=10)
print(5>10)
print(5<10)
print(5>=10)
print(5<=10)

False
True
False
True
False
True

Operator 4: Program Penerapan Operator Logika

In [4]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

Latihan

In [ ]:
print(True and True)
print(True or False)

True
True

Operator 5: Program Penerapan Operator Keanggotaan Membership

In [5]:
a=(1,2,3,4,5,6)
b=2
print(b in a)

print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

Latihan

In [ ]:
a=(5,7,9,11,13,15)
b=13
print(b in a)

a=(17,19,21,23,25)
b=11
print(b not in a)

True
True

Latihan 1: Variabel dengan Tipe Data yang Berbeda

In [ ]:
a='saya mahasiswa matematika UAD'
print(a)
b=18
print(b)
c=7.2
print(c)
d=True
print(d)
e=1j+8
print(e)

saya mahasiswa matematika UAD
18
7.2
True
(8+1j)

Latihan 2: Pengecekan Tipe Data Variabel

In [6]:
kalimat='ini adalah variabel' #string
bilangan1=4
bilangan2=2.5
bilangan3=True
bilangan4=1j+4

print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

Latihan

In [7]:
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Latihan 3: Konversi Tipe Data

In [8]:
#konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))
print('-'*20)

#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))
print('-'*20)

#konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))
print('-'*20)

#konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))
print('-'*20)

#konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2
1
--------------------
4.0
1.0
--------------------
4
2.5
True
--------------------
True
True
--------------------
(4+0j)
(2.5+0j)
(1+0j)

Latihan

In [ ]:
print(int(c))
print(int(d))

print(float(b))
print(float(d))

print(str(b))
print(str(c))
print(str(d))

print(bool(b))
print(bool(c))

print(complex(b))
print(complex(c))
print(complex(d))

7
1
18.0
1.0
18
7.2
True
True
True
(18+0j)
(7.2+0j)
(1+0j)