Annisa Chiqa Sabrina (2000015030)

Tugas Penggabungan Series atau DataFrame

In [ ]:
import pandas as pd

In [ ]:
# Membuat series of int (s1) dan series of string (s2)
s1= pd.Series([1,2,3,4,5,6])
s2= pd.Series(["a","n","i","s","c","h"])
# Menerapkan method append
s1_append_s2 = s1.append(s2)
print("Series - append:\n", s1_append_s2)

Series - append:
 0    1
1    2
2    3
3    4
4    5
5    6
0    a
1    n
2    i
3    s
4    c
5    h
dtype: object

<ipython-input-2-e71c4282b84c>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1_append_s2 = s1.append(s2)

In [ ]:
# Buat dataframe df1 dan df2
df1 = pd.DataFrame({'a':[5,6],
                    'b':[9,10]})
print("df1:\n", df1)
df2 = pd.DataFrame({'b':[11,12],
                    'a':[13,14]})
print("df2:\n", df2)
# Terapkan method append
df1_append_df2 = df1.append(df2)
print("Dataframe - append:\n", df1_append_df2)

df1:
    a   b
0  5   9
1  6  10
df2:
     b   a
0  11  13
1  12  14
Dataframe - append:
     a   b
0   5   9
1   6  10
0  13  11
1  14  12

<ipython-input-3-938ef790b967>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1_append_df2 = df1.append(df2)

In [ ]:
# Buat dataframe df1 dan df2
df1 = pd.DataFrame({'a':[5,6],
                    'b':[9,10]})
print("df1:\n", df1)
df2 = pd.DataFrame({'b':[11,12],
                    'a':[13,14]})
print("df2:\n", df2)
# Menerapkan method concat row-wise
row_wise_concat = pd.concat([df1,df2])
print("Row-wise - concat:\n", row_wise_concat)

df1:
    a   b
0  5   9
1  6  10
df2:
     b   a
0  11  13
1  12  14
Row-wise - concat:
     a   b
0   5   9
1   6  10
0  13  11
1  14  12

In [ ]:
# Terapkan method concat column-wise
col_wise_concat = pd.concat([df1, df2], axis=1)
print("Column-wise - concat:\n", col_wise_concat)

Column-wise - concat:
    a   b   b   a
0  5   9  11  13
1  6  10  12  14

In [ ]:
# Penambahan identifier --> membentuh hasil penggabungan multiindex
multiindex_concat = pd.concat([df1,df2],axis=0,keys=['df1','df2'])
print("Multiindex - concat:\n", multiindex_concat)

Multiindex - concat:
         a   b
df1 0   5   9
    1   6  10
df2 0  13  11
    1  14  12

In [ ]:
# Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['a1','a2','a3','a4','a5'],
   'val1':[2, 5, 0, 5, 1],
   'val2':[3, 5, 1, 2, 1]
})
print("df1:\n", df1)
df2 = pd.DataFrame({
   'key':['a1','a3','a5','a7','a10'],
   'val3':[11,12,13,14,15],
   'val4':[26,27,28,29,30]
})
print("df2:\n", df2)

df1:
   key  val1  val2
0  a1     2     3
1  a2     5     5
2  a3     0     1
3  a4     5     2
4  a5     1     1
df2:
    key  val3  val4
0   a1    11    26
1   a3    12    27
2   a5    13    28
3   a7    14    29
4  a10    15    30

In [ ]:
# Merge yang ekivalen dengan SQL left join
merge_df_left = pd.merge(left=df1, right=df2, how='left', left_on='key',right_on='key')
print('Merge - Left:\n', merge_df_left)

Merge - Left:
   key  val1  val2  val3  val4
0  a1     2     3  11.0  26.0
1  a2     5     5   NaN   NaN
2  a3     0     1  12.0  27.0
3  a4     5     2   NaN   NaN
4  a5     1     1  13.0  28.0

In [ ]:
# Merge yang ekivalen dengan SQL right join
merge_df_right = pd.merge(left=df1, right=df2, how='right', left_on='key',right_on='key')
print('Merge - Right:\n', merge_df_right)

Merge - Right:
    key  val1  val2  val3  val4
0   a1   2.0   3.0    11    26
1   a3   0.0   1.0    12    27
2   a5   1.0   1.0    13    28
3   a7   NaN   NaN    14    29
4  a10   NaN   NaN    15    30

In [ ]:
# Merge yang ekivalen dengan SQL inner join
merge_df_inner = pd.merge(left=df1, right=df2, how='inner', left_on='key',right_on='key')
print('Merge - Inner:\n', merge_df_inner)

Merge - Inner:
   key  val1  val2  val3  val4
0  a1     2     3    11    26
1  a3     0     1    12    27
2  a5     1     1    13    28

In [ ]:
# Merge yang ekivalen dengan SQL outer join
merge_df_outer = pd.merge(left=df1, right=df2, how='outer', left_on='key',right_on='key')
print('Merge - Outer:\n', merge_df_outer)

Merge - Outer:
    key  val1  val2  val3  val4
0   a1   2.0   3.0  11.0  26.0
1   a2   5.0   5.0   NaN   NaN
2   a3   0.0   1.0  12.0  27.0
3   a4   5.0   2.0   NaN   NaN
4   a5   1.0   1.0  13.0  28.0
5   a7   NaN   NaN  14.0  29.0
6  a10   NaN   NaN  15.0  30.0

In [ ]:
# Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['a1','a2','a3','a4','a5'],
   'val1':[2, 5, 0, 5, 1],
   'val2':[3, 5, 1, 2, 1]
}).set_index(['key','val2'])
print("dataframe 1:\n", df1)
df2 = pd.DataFrame({
   'key':['a1','a3','a5','a7','a10'],
   'val3':[11,12,13,14,15],
   'val4':[26,27,28,29,30]
}).set_index(['key','val3'])
print("dataframe 2:\n", df2)

dataframe 1:
           val1
key val2
a1  3        2
a2  5        5
a3  1        0
a4  2        5
a5  1        1
dataframe 2:
           val4
key val3
a1  11      26
a3  12      27
a5  13      28
a7  14      29
a10 15      30

In [ ]:
# Merge dataframe yang memiliki multi index
# df_merge = pd.merge(df1,df2)
# print('Merging dataframe:\n', df_merge)
# Merge dataframe yang memiliki multi index
df_merge = pd.merge(df1.reset_index(),df2.reset_index())
print('Merging dataframe:\n', df_merge)

Merging dataframe:
   key  val2  val1  val3  val4
0  a1     3     2    11    26
1  a3     1     0    12    27
2  a5     1     1    13    28

In [ ]:
# Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['a1','a2','a3','a4','a5'],
   'val1':[2, 5, 0, 5, 1],
   'val2':[3, 5, 1, 2, 1]
})
df2 = pd.DataFrame({
   'key':['a1','a3','a5','a7','a10'],
   'val3':[11,12,13,14,15],
   'val4':[26,27,28,29,30]
})
# Penerapan join dengan menggunakan set_index dan keyword how
# df1.join(df2) #<-- akan error

In [ ]:
print(df1.set_index('key').join(df2.set_index('key')))

     val1  val2  val3  val4
key
a1      2     3  11.0  26.0
a2      5     5   NaN   NaN
a3      0     1  12.0  27.0
a4      5     2   NaN   NaN
a5      1     1  13.0  28.0

In [ ]:
join_df = df1.set_index('key').join(df2.set_index('key'), how='inner')
print(join_df)

     val1  val2  val3  val4
key
a1      2     3    11    26
a3      0     1    12    27
a5      1     1    13    28