**List**

In [1]:
#contoh list
L1=[1,4,2,13]
print(type(L1))

<class 'list'>

In [2]:
L2=["a","python",3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

In [4]:
#sifat-sifat list

#terurut/ordered
print("memanggil list L1 dengan indekst terurut:",L1[0:3])

#Bisa diganti/mutable
L1[1]=2
print("list L1 setelah diganti elemennya:",L1)

L1=[1,"dua",True,2+3j]

#dapat diindeks/slicing
print("slicing list L1:",L1[3])

#dapat dijadikan duplikasi
L1=[1,"dua",True,2+3j,2+3j]
print("Duplikasi pada list L1:",L1)

#dapat mengubah data dengan mengganti elemen tertentu
L1=[1,"dua",True,2+3j]
L1[2]=3
print("data setelah diubah:",L1)

#dapat menambahkan elemen baru pada data
L1=[1,"dua",True,2+3j]
L1.append(20)
print("data setelah ditambahkan elemennya:",L1)

#dapat menghapus elemen pada data
L1=[1,"dua",True,2+3j]
L1.remove(2+3j)
print("data setelah dihapus elemennya:",L1)

memanggil list L1 dengan indekst terurut: [1, 4, 2]
list L1 setelah diganti elemennya: [1, 2, 2, 13]
slicing list L1: (2+3j)
Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
data setelah diubah: [1, 'dua', 3, (2+3j)]
data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
data setelah dihapus elemennya: [1, 'dua', True]

In [5]:
#menambahkan data menggunakan fungsi extend (menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1=[1,"dua",True,2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [6]:
L1=[1,"dua",True,2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [7]:
#menambahkan data menggunakan fungsi insert menambahkan elemen baru di list pada indeks tertentu)
L1=[1,"dua",True,2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [8]:
#menghapus elemen menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1=[1,"dua",True,2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [9]:
L1=[1,"dua",True,2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

Latihan 1: Buatlah List kalian sendiri

In [24]:
A=[1,"C",8,True,1+7j]
print("A:",A)

A: [1, 'C', 8, True, (1+7j)]

Latihan 2: Ganti elemen yang ada pada list yang kalian buat

In [26]:
#ganti elemen yang ada pada list
A[2]=2000
print("A:",A)

A=[1,"C",8,True,1+7j]
A.append(3)
print("A:",A)

A=[1,"C",8,True,1+7j]
A.extend(["Annisa"])
print("A:",A)

A=[1,"C",8,True,1+7j]
A.insert(4,"S")
print("A:",A)

A=[1,"C",8,True,1+7j]
A.remove(8)
print("A:",A)

A=[1,"C",8,True,1+7j]
A.pop(3)
print("A:", A)

A: [1, 'C', 2000, (1+7j)]
A: [1, 'C', 8, True, (1+7j), 3]
A: [1, 'C', 8, True, (1+7j), 'Annisa']
A: [1, 'C', 8, True, 'S', (1+7j)]
A: [1, 'C', True, (1+7j)]
A: [1, 'C', 8, (1+7j)]

**Tuple**

In [10]:
#contoh
T1=(1,"dua",True,1+2j)
print("ini adalah tuple:",T1)

ini adalah tuple: (1, 'dua', True, (1+2j))

In [11]:
T11=1,"dua",True,1+2j
print("ini adalah tuple:",T11)

ini adalah tuple: (1, 'dua', True, (1+2j))

In [12]:
#menampilkan tipe struktur data
type(T1)

tuple

In [13]:
type(T11)

tuple

Sifat-Sifat Tuple

In [15]:
#terurut
T1[0:3]

(1, 'dua', True)

In [16]:
#tidak bisa diganti
T1[2]='manusia'

TypeError: ignored

In [17]:
#dapat diindeks
print("elemen kedua dari tuple T1 adalah:",T1[1])

elemen kedua dari tuple T1 adalah: dua

In [18]:
#dapat diijinkan duplikasi
T2=(3,2.4,True,2.4)
T2

(3, 2.4, True, 2.4)

In [19]:
#tidak dapat menambahkan elemen baru
T1=(1,"dua",True,1+2j)
print(f'tuple\t:{T1}')

tuple	:(1, 'dua', True, (1+2j))

In [20]:
T1.append(10)
T1.append(50)
print(f'tuple\t:{T1}')

AttributeError: ignored

In [21]:
#tidak dapat menghapus elemen
T1=(1,"dua",True,1+2j)
print(f'tuple\t:{T1}')

tuple	:(1, 'dua', True, (1+2j))

In [22]:
T1.remove(1)
T1.remove("dua")
print(f'tuple\t:{T1}')

AttributeError: ignored

Menggabungkan Tuple

In [23]:
#menggabungkan Tuple
T3=T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan 1: Membuat Tuplemu sendiri

In [29]:
T1=(1,"tiga",False,2+4j,3.4)
T1

(1, 'tiga', False, (2+4j), 3.4)

Latihan 2: Buatlah tuple kedua lalu gabungkan 2 tuple yang kamu buat

In [30]:
T2=(2,"empat",True,1+1j,5.1)
T2

(2, 'empat', True, (1+1j), 5.1)

In [31]:
T3=T1+T2
T3

(1, 'tiga', False, (2+4j), 3.4, 2, 'empat', True, (1+1j), 5.1)